@charset "utf-8";
/* CSS Document */

.about-tab-container {
    background: #fff;
    margin-top: .24rem;
}
.nav-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.nav-tabs li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
    height: 1rem;
    color: #999;
    font-size: .4rem;
    border-bottom: 1px solid #e6e6e6;
}
.nav-tabs li.is-active {
    color: #333;
    background: #fafafa;
    border-bottom: 1px solid #35bd22;
}
/*news and about*/
.tab-pane h1 {
    font-size: .56rem;
    color: #333;
    line-height: 1rem;
    text-align: center;
    border-bottom: 1px dashed #d6d6d6;
    margin-top: .4rem;
}
.article-info {
    font-size: .4rem;
    color: #999;
    line-height: 1rem;
    text-align: center;
    margin-bottom: .2rem;
}
.tab-content {
    overflow: hidden;
}
.tab-content .text-box {
    margin-bottom: .56rem;
}
.tab-content .text-box h3 {
    color: #333;
    font-size: .56rem;
    line-height: 1rem;
}
.tab-content .text-box h4 {
    color: #666;
    font-size: .4533rem;
    line-height: .64rem;
}
.tab-content .text-box p {
    color: #666;
    font-size: .4rem;
    line-height: .64rem;
}
.tab-content .qualif-box img {
    display: inline-block;
    width: 31%;
    margin-right: 1%;
}