@charset "utf-8";
/* CSS Document */


/*news and about*/
.tab-pane h1 {
    font-size: .56rem;
    color: #333;
    line-height: 1rem;
    text-align: center;
    border-bottom: 1px dashed #d6d6d6;
    margin-top: .4rem;
}
.article-info {
    font-size: .32rem;
    color: #999;
    line-height: 1rem;
    text-align: center;
    margin-bottom: .5rem;
}
.tab-content {
    overflow: hidden;
}
.tab-content .text-box {
    margin-bottom: .88rem;
}
.tab-content .text-box h3 {
    color: #333;
    font-size: 0.4rem;
    margin-bottom: .32rem;
}
.tab-content .text-box h4 {
    color: #666;
    font-size: .4533rem;
    line-height: .64rem;
}
.tab-content .text-box p {
    color: #666;
    font-size: 0.32rem;
    line-height: .64rem;
}

