@charset "utf-8";
/* CSS Document */
.inline {
    border: 1px dashed #f2f2f2;
    margin: 0.94rem 0;
}
.download-con {
    padding-bottom: 1.733rem;
    overflow: hidden;
}
.download-con .order-text {
    font-size: 0.32rem;
    color: #666;
    font-style: italic;
    padding-top: .4rem;
    padding-bottom: 0.64rem;
}
.download-module h4 {
    color: #333333;
    font-size: 0.4rem;
    margin-bottom: 0.4667rem;
}
.download-module h4 small {
    color: #999;
    font-size: 0.32rem;
    font-style: italic;
    margin-left: 0.2rem;
}
.payment-info {
    color: #333232;
    text-align: center;
    margin-bottom: 1.73rem;
}
.payment-info figure img {
    width: 1.44rem;
    margin: 0 auto 0.92rem auto;
}
.payment-info figure p {
    font-size: 0.48rem;
    margin-bottom: 0.2rem;
}
.payment-info figure figcaption {
    font-size: 0.32rem;
}
.download-order {
    display: -webkit-box;
       display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
            display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    -khtml-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
       -moz-justify-content: space-between;
        -ms-justify-content: space-between;
         -o-justify-content: space-between;
            justify-content: space-between;
}

.download-order .order-items {
    width: 4.533rem;
    margin-bottom: .4rem;
}
.order-selected-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}
.order-img {
    height: auto;
    text-align: center;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 0.0533rem;
       -moz-border-radius: 0.0533rem;
            border-radius: 0.0533rem;
}
.select-img-box {
    width: 3.12rem;
    border: none;
    border-right: 1px solid #d6d6d6;
}
.order-img img {
    display: block;
    width: 100%;
    border: none;
}
.order-info {
    background: #fff;
    padding-top: 0.3067rem;
    padding-bottom: 0.32rem;
    border-left: 1px solid #d6d6d6;
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: -1px;
}
.order-info .order-name {
    color: #3b3d40;
    font-size: 0.4rem;
    margin-bottom: .2rem;
}
.order-info .order-type {
    font-size: .32rem;
    text-align: left;
}
.order-selected-items .select-info {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
    border: none;
}
.order-selected-items .checkbox-select {
    width: 2.4533rem;
    text-align: center;
}
.checkbox-select label {
    position: relative;
    display: inline-block;
    width: 1.6rem;
    height: 0.9333rem;
}
.checkbox-select label input[type=checkbox] {
    -webkit-z-index: 5;
    -moz-z-index: 5;
    -ms-z-index: 5;
    -o-z-index: 5;
    -khtml-z-index: 5;
    z-index: 5;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    overflow: visible;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.checkbox-select label span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b0b3b1;
    border: 1px solid #b0b3b1;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.checkbox-select label input[type=checkbox]:checked + span {
    background: #35bd22;
    border: 1px solid #35bd22;
}
.checkbox-select label span:after {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-0.24rem, -0.18rem);
    -moz-transform: translate(-0.24rem, -0.18rem);
    -ms-transform: translate(-0.24rem, -0.18rem);
    -o-transform: translate(-0.24rem, -0.18rem);
    transform: translate(-0.24rem, -0.18rem);
    display: inline-block;
    content: "";
    width: 0.48rem;
    height: 0.36rem;
    background: url("../../images/download/checked.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;

}
/**/
.select-box {
    position: relative;
    // font-size: 0.32rem;
    // color: #35bd22;
    height: 0.933rem;
    // border: 1px solid #39be26;
    // -webkit-border-radius: 0 0 4px 4px;
    //    -moz-border-radius: 0 0 4px 4px;
    //         border-radius: 0 0 4px 4px;
}
.select-box label {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.933rem;
}
.checkbox-control {
    -webkit-z-index: 5;
    -moz-z-index: 5;
    -ms-z-index: 5;
    -o-z-index: 5;
    -khtml-z-index: 5;
    z-index: 5;
    overflow: visible;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.select-text {
    position: absolute;
    -webkit-z-index: 3;
    -moz-z-index: 3;
    -ms-z-index: 3;
    -o-z-index: 3;
    -khtml-z-index: 3;
    z-index: 3;
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    color: #35bd22;
    line-height: 0.9rem;
    text-align: center;
    border: 1px solid #39be26;
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}
.checkbox-control:checked + .select-text {
    color: #fff;
    background: #39be26;
    content: "已选";
    border: 1px solid #39be26;
    -webkit-border-radius: 0 0 4px 4px;
       -moz-border-radius: 0 0 4px 4px;
            border-radius: 0 0 4px 4px;
}
.checkbox-control:checked + .select-text:after {
    display: inline-block;
    content: "";
    width: 0.4533rem;
    height: 0.433rem;
    background: url("../../images/common/select_icon.png") no-repeat;
    -webkit-background-size: contain;
            background-size: contain;
    vertical-align: text-top;
    margin-left: 0.1733rem;
}
.form-horizontal {
    margin-top: 0.64rem;
}
.form-horizontal .form-group {
    display: -webkit-box;
       display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
            display: flex;
    -webkit-box-pack: center;
       -moz-box-pack: center;
       -ms-flex-pack: center;
    -webkit-align-items: center;
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
     -khtml-align-items: center;
            align-items: center;
    margin-bottom: 0.5333rem;
    padding: 0 0.4rem;
}
.form-group .control-label {
    color: #3b3d40;
    font-size: 0.3467rem;
    /*min-width: 1.32rem;*/
    text-align: center;
}
.form-group .form-control {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-box-flex: 1;
         -o-box-flex: 1;
            box-flex: 1;
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
         -o-flex: 1;
     -khtml-flex: 1;
            flex: 1;
    width: 100%;
    height: 0.8rem;
    padding: 0 0.2rem;
    margin-left: 0.2667rem;
    border: 1px solid #d6d6d6;
    -webkit-outline: none;
       -moz-outline: none;
        -ms-outline: none;
         -o-outline: none;
     -khtml-outline: none;
            outline: none;
}
.form-group.has-error .form-control {
    border: 1px solid #ff5959;
}
.form-group textarea {
    display: block;
    color: #999;
    font-size: 0.32rem;
    line-height: 0.56rem;
    padding: 2%;
    margin: 0;
    width: 96%;
    background: #fff;
    border: none;
    -webkit-outline: none;
       -moz-outline: none;
        -ms-outline: none;
         -o-outline: none;
     -khtml-outline: none;
            outline: none;
}
.area-group {
    margin-top: 0.2rem;
    padding-top: 2px;
}
.check-box {
    padding: 0.12rem 0.4rem 0.4rem 0.4rem;
    background: #f5f5f5;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
            border-radius: 3px;
}
.checkbox-inline {
    position: relative;
    display: inline-block;
    width: 48%;
    color: #3b3d40;
    font-size: 0.3733rem;
    padding: 0.4rem 0;
}
.checkbox-inline label {
    position: relative;
    display: inline-block;
}
.checkbox-inline .radio-box {
    position: relative;
    display: inline-block;
    width: 0.48rem;
    height: 0.48rem;
    margin-right: 0.1rem;
    background: url("../../images/icon/radio.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
    // border: 1px solid #cfcfcf;
    // -webkit-border-radius: 0.24rem;
    //    -moz-border-radius: 0.24rem;
    //         border-radius: 0.24rem;
    vertical-align: middle;
}
.radio-box input[type=checkbox] {
    -webkit-z-index: 5;
       -moz-z-index: 5;
        -ms-z-index: 5;
         -o-z-index: 5;
     -khtml-z-index: 5;
            z-index: 5;
    overflow: visible;
    -webkit-opacity: 0;
       -moz-opacity: 0;
        -ms-opacity: 0;
         -o-opacity: 0;
     -khtml-opacity: 0;
            opacity: 0;
    position: absolute;
    top: 2px;
    left: 2px;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.radio-box input[type=checkbox]:checked + i {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.48rem;
    height: 0.48rem;
    background: url("../../images/icon/radio-selected.png") no-repeat center center;
    -webkit-background-size: contain;
    background-size: contain;
}
.button-group {
    text-align: center;
    margin-top: 1.1rem;
}
.button-group .next-step {
    display: inline-block;
    color: #fff;
    font-size: 0.3733rem;
    width: 4rem;
    height: 0.94rem;
    line-height: 0.96rem;
    text-align: center;
    background: #39be26;
}
.button-group .next-step.is-disable {
    background: #999;
}
