
.news-con {
    padding-top: 1px;
    padding-bottom: .72rem;
}
.news-card {
    margin-top: 0.24rem;
}
.news-card-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    height: 2.68rem;
    margin-bottom: .4rem;
}
.pic-box {
    position: relative;
    width: 3.24rem;
    height: 100%;
}
.corner {
    position: absolute;
    left: 0;
    bottom: 10px;
    display: inline-block;
    color: #fff;
    font-size: 0.2667rem;
    padding: 0.1rem 0.14rem;
    text-align: center;
    background: rgba(53, 189, 34, .65);
}
.pic-box img {
    width: 100%;
    height: 100%;
}
.pic-info {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-flow: column nowrap;
    -moz-flex-flow: column nowrap;
    -ms-flex-flow: column nowrap;
    -o-flex-flow: column nowrap;
    -khtml-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;

    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
    padding-top: .24rem;
    padding-bottom: .24rem;
    background: #f8f8f8;
    border: 1px solid #ededed;
}
.pic-info .pic-top a {
    color: #333;
    font-size: .3733rem;
    line-height: .5067rem;
    margin-bottom: 0.1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.pic-info .pic-top .timer {
    color: #999;
    font-size: 0.2667rem;
    line-height: .4267rem;
}
.pic-info .pic-text .pic-desc {
    font-size: 0.2933rem;
    color: #999;
    line-height: .46rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.case-info .pic-text .pic-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/*分类帅选*/
.select-wrap {
    position: relative;
}
.select-wrap .panel-head {
    height: 1.1733rem;
    background: none;
    border-bottom: none;
}
.select-wrap .panel-head .panel-icon {
    display: inline-block;
    color: #ccc;
    width: 0;
    height: 0;
    border-left: 0.18rem solid transparent;
    border-right: 0.18rem solid transparent;
    border-top: 0.2rem solid #8a8989;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    margin-left: 0.2rem;
}
.select-wrap .panel-head .panel-icon.is-active {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    transform: rotate(-180deg);
}
.select-wrap .panel-collapse {
    position: absolute;
    right: 0;
    display: none;
    width: 3.6rem;
    padding: 0.24rem 0;
    background: #fff;
    border: 1px solid #ebebeb;
}
.select-wrap .panel-collapse a {
    display: block;
    color: #4c4c4c;
    font-size: 0.3733rem;
    line-height: 0.9rem;
    padding: 0 0.4rem;
}
/*page*/
.page{
    clear: both;
    overflow: hidden;
    text-align: center;
    margin-top: 1.2rem;
}
.page>li,.page>li a{
    display: inline-block;
    height: 0.7rem;
    color: #fff;
    font-size: 0.3467rem;
    line-height: 0.75rem;
    text-align: center;
    margin: 0 0.12rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
}
.page .pageItem, .page .pageItemActive{
    width: 0.7rem;
    background: rgba(53, 189, 34, 0.35);
}
.page li[page-rel="prepage"],.page li[page-rel="nextpage"] {
    width: 1.733rem;
    background: #35bd22;
}
.page .pageItemActive{
    background: #35bd22;
}
.page .pageItemDisable{
    background: rgba(53, 189, 34, 0.35);
}
.page li[page-rel="prepage"]:before {
    display: inline-block;
    content: "";
    width:0;
    height:0;
    border-width: 0.14rem 0.14rem 0.14rem 0;
    border-style: solid;
    margin-right: 0.12rem;
    border-color: transparent #fff transparent transparent;/*透明 灰 透明 透明 */
}
.page li[page-rel="nextpage"]:after {
    display: inline-block;
    content: "";
    width:0;
    height:0;
    border-width: 0.14rem 0 0.14rem 0.14rem;
    border-style: solid;
    margin-left: 0.12rem;
    border-color: transparent transparent transparent #fff;/*透明 灰 透明 透明 */
}
/*news and about*/
.tab-pane h1 {
    font-size: .48rem;
    color: #333;
    line-height: 0.72rem;
    text-align: center;
    padding-bottom: 0.24rem;
    border-bottom: 1px dashed #d6d6d6;
    margin-top: .4rem;
    font-weight: bold;
}
.article-info {
    font-size: 0.2667rem;
    color: #999;
    // line-height: 1rem;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    text-align: center;
    // margin-bottom: 0.6rem;
}
.tab-content {
    overflow: hidden;
}
.tab-content .text-box {
    margin-top: 0.56rem;
    margin-bottom: .56rem;
}
.tab-content .text-box h2 {
    font-size: 0.4rem;
    color: #333;
    margin-bottom: 0.48rem;
    font-weight: bold;
}
.tab-content .text-box h2 .block {
    display: inline-block;
    width: 0.32rem;
    margin-right: 0.2rem;
}
.tab-content .text-box h3 {
    color: #333;
    font-size: .3733rem;
    margin-bottom: 0.3733rem;
    font-weight: bold;
}
.tab-content .text-box h4 {
    color: #666;
    font-size: .3733rem;
    margin-bottom: 0.2667rem;
    font-weight: bold;
}
.tab-content .text-box h5 {
    font-size: 0.32rem;
    color: #333;
    margin-bottom: 0.2667rem;
    font-weight: bold;
}
.tab-content .text-box p {
    color: #666;
    font-size: .32rem;
    line-height: .64rem;
}
