<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>医疗业</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body class="success-case">
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../../view/contact/contact-us.html" class="menu-label">联系ECHOTN</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
                <div class="panel select-wrap">
                    <div class="panel-head head-box event-sectors">
                        <h1>
                            医疗业
                        </h1>
                        <div class="panel-icon"></div>
                    </div>
                    <div class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul class="product-panel panel-wrap">
                                <li><a href="success-case.html" title="">全部行业</a></li>
                                <li><a href="manufacturing-industry.html" title="">制造业</a></li>
                                <li><a href="finance.html" title="">金融业</a></li>
                                <li><a href="medical-industry.html" title="">医疗业</a></li>
                                <li><a href="education-industry.html" title="">教育业</a></li>
                                <li><a href="scientific-research.html" title="">科研</a></li>
                                <li><a href="traffic.html" title="">交通</a></li>
                                <li><a href="government.html" title="">政府</a></li>
                                <li><a href="media.html" title="">传媒</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="news-con content-wrap col">
                <ul class="news-card">
                    <li class="news-card-items">
                        <a href="success-nj-medicine.html" class="pic-box">
                            <img src=".././../images/case/nj.png" alt="">
                            <span class="corner">医疗业</span>
                        </a>
                        <div class="pic-info case-info col">
                            <div class="pic-top">
                                <a href="success-nj-medicine.html">南京医药股份有限公司</a>
                                <!-- <div class="timer">2012-01-17 11:16:40</div> -->
                            </div>
                            <div class="pic-text">
                                <a href="success-nj-medicine.html" class="pic-desc">南京医药股份有限公司成立于1951年，于1996年在上海证交所上市...</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1 class="relative">
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>
                    <div class="sq">
                        <a href="http://p.qiao.baidu.com/cps/chat?siteId=9687440&userId=21221391">
                            <span class="icon icon-location">
                                <img src="../../images/icon/mes.png" alt="">
                            </span>
                            销售资讯
                        </a>
                        <a href="../contact/contact-us.html">
                            <span class="icon icon-location">
                                <img src="../../images/icon/p.png" alt="">
                            </span>
                            售后咨询
                        </a>
                    </div>
                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>
    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
