<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>江苏牧羊集团有限公司</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../../view/contact/contact-us.html" class="menu-label">联系ECHOTN</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>江苏牧羊集团有限公司</h1>
                    <div class="tab-content">
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/news/news_list_06.png" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <h3>项目简介</h3>
                            <hr class="inline">
                            <br>
                            <p>江苏牧羊集团有限公司，是国家最早定点生产粮食饲料机械的企业，集饲料机械与工程、自动化控制技术与工程等产品的研发制造、工程设计安装为一体。两次获得“国家科技进步奖二等奖”，部分产品的性能达到世界领先水平。产品行销全球81个国家和地区，饲料机械出口连续五年占据全国饲料机械出口总量的60%以上，产值位列中国第一、世界第二。</p>
                            <br><br>
                            <p>为了更好实现业务管理的自动化，牧羊集团的下属单位需要在业务系统中部署ERP应用。作为生产发展的核心应用，不仅要做到快速部署、专人运维，同时要保证0故障和数据的安全性。牧羊集团总部的数据中心存储使用时间较长，其中承载大量数据，如果将ERP直接部署在现有架构中，系统超负载运行将会造成灾难性破坏。最直接的方式是购买服务器和存储扩容，但这不仅增加了采购和运维成本，数据的安全性将成为又一大问题。就目前预算有限，运维人员不足且工作量较大的情况，为了更好降低成本，一种整合了数据中心基础架构，同时兼具数据保护功能，无需专业运维的智能设备，将为牧羊集团解决多种问题。</p>
                        </div>
                        <div class="text-box">
                            <h3>用户需求</h3>
                            <hr class="inline">
                            <br>
                            <p>由于牧羊集团下属单位的业务生产需要快速部署ERP应用，这对IT系统高可靠性要求较高，同时要保障生产数据的安全性，防止数据丢失造成的严重经济损失。现有设备中运行着大量核心数据，性能已经无法承载新应用，考虑到数据中心预算有限，运维人员不足与超负载工作，ECHOTN易通超融合设备作为多功能、自动化的智能设备成为牧羊集团的最佳选择。</p>
                        </div>
                        <div class="text-box">
                            <h3>解决方案</h3>
                            <hr class="inline">
                            <br>
                            <p>ECHOTN易通超融合设备整合IT基础架构，就设备成本而言，既可以作为虚拟服务器使用，又可以替代存储。将ERP应用快速部署到ECHOTN易通中，独立运行，同时ECHOTN易通通过数据双写、定时快照的方式对数据进行保护，不仅保障了IT系统的性能，还保障了数据的安全。就运维管理而言，系统出现故障后，可以一键恢复到正常状态，易通超融合设备可以一键发布应用虚拟机，下属单位用户可以自助申请，通过web界面浏览和使用设备资源，操作更安全，同时进行日志记录和短信通知，及时汇报设备状况，操作简单，无需专业运维，方便人员管理，节省人力物力，降低成本。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/case/case_03.jpg" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1 class="relative">
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>
                    <div class="sq">
                        <a href="http://p.qiao.baidu.com/cps/chat?siteId=9687440&userId=21221391">
                            <span class="icon icon-location">
                                <img src="../../images/icon/mes.png" alt="">
                            </span>
                            销售资讯
                        </a>
                        <a href="../contact/contact-us.html">
                            <span class="icon icon-location">
                                <img src="../../images/icon/p.png" alt="">
                            </span>
                            售后咨询
                        </a>
                    </div>
                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
