<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>广东顺德中山大学</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="">公司简介</a>
                        <a href="">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>广东顺德中山大学卡内基梅隆大学国际联合研究院</h1>
                    <div class="article-info">
                        2016-10-10 11:16:00
                        <span class="amount">点击次数：1000次</span>
                    </div>
                    <div class="tab-content">
                        <div class="text-box">
                            <img src="../../images/case/case_04.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3>项目简介</h3>
                            <hr class="inline">
                            <br>
                            <p>广东顺德中山大学-卡内基梅隆大学国际联合研究院（以下简称“JRI”）是顺德区政府、中山大学、美国卡内基梅隆大学三方共建的产学研协同创新平台。JRI是工程类硕士、博士研究生及博士后高端研发人才的培养教育基地，通过与国际一流科研人才组建创新团队开展面向应用和产业的科研工作，选取了高端新型电子信息、智能汽车、智能电网和生物医学工程等战略性新兴产业方向作为其学科建设的主导方向，形成先进技术和产品，为珠三角地区工程技术产业化提升提供有力支撑。</p>
                            <br><br>
                            <p>JRI组建一个研发团队进行新的研究项目，需要搭建一个小型数据中心基础架构，同时需要专门的设备为大量科研数据和重要材料做保护。考虑到科研项目成本，人员流动性强导致管理困难等问题，以及防止学生人员因人为误操作破坏数据，丢失数据，因此需要一台多功能产品为其做全方面的保护来组建一个新的架构。</p>
                        </div>
                        <div class="text-box">
                            <h3>用户需求</h3>
                            <hr class="inline">
                            <br>
                            <p>科研项目人员组成多为研究院学生和老师，流动性较大，管理较困难；科研项目数据极大可能因人为误操作造成丢失和破坏，同时考虑到项目成本因素，因此选择一台多用途设备，既能良好管理人员，方便快捷发布虚拟桌面，又能存储和保护数据，以及故障后高效快速恢复使用，成为用户的最直接需求。</p>
                        </div>
                        <div class="text-box">
                            <h3>解决方案</h3>
                            <hr class="inline">
                            <br>
                            <p>JRI经过多方比较，选择了多用途产品ECHOTN易通来解决其面临的问题。ECTOTN易通既可以实现作为服务器的功能，又可以作为存储使用，搭建一个SAN基础架构。同时可以一键式发布虚拟桌面，通过二级管理员审核通过后，自动发布虚拟机，为其解决了人员管理问题，节省了人力物力，降低了成本，使操作更加简单便捷。在这种方案下，易通还可以保护虚拟桌面，为大量的科研数据做定时快照，真正实现了在单一设备上整合多种功能。进而保障科研数据存储安全，以及故障后快速恢复使用。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/case/case_05.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1>
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
            <p>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>