<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>南京医药股份有限公司</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="">VDR-310 超融合设备</a>
                        <a href="">VDR-320 超融合容灾系统</a>
                        <a href="">VDR-410 应急恢复系统</a>
                        <a href="">VDR-510 存储高可用系统</a>
                        <a href="">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="">公司简介</a>
                        <a href="">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>南京医药股份有限公司</h1>
                    <div class="article-info">
                        2016-10-10 11:16:00
                        <span class="amount">点击次数：1000次</span>
                    </div>
                <div class="tab-content">
                        <div class="text-box">
                            <img src="../../images/case/case_09.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3>项目简介</h3>
                            <hr class="inline">
                            <br>
                            <p>南京医药股份有限公司成立于1951年，于1996年在上海证交所上市，是国内医药流通类首家上市公司。近年来，作为国有控股企业，南京医药由地区性的单体企业成长为拥有员工近8000人，下属50余家分子公司，年销售额超百亿元的特大型企业。</p>
                            <br><br>
                            <p>南京医药股份有限公司业务规模巨大，种类繁多，严重依赖后台信息系统支撑。药事服务五大业务系统、ERP三大系统、客商服务及协同等七大业务系统、股份公司财务一体化平台系统、股份公司基础数据系统、其他分公司业务系统均运行其上。基础软件硬件复杂且年代久远，因元器件老化等安全隐患需退出一线运行设备较多，但因成本等因素又无法及时退出生产。积聚的故障风险致使业务部分甚至全部停顿，业务停顿意味着业务交易停止和商誉损失，经济损失难以承受。采取可行可靠的措施保障数据安全和业务系统恢复成为现阶段首页任务。</p>
                        </div>
                        <div class="text-box">
                            <h3>IT环境</h3>
                            <hr class="inline">
                            <br>
                            <p>IBM AIX小型机集群</p>
                            <p>pHP UX小型机集群</p>
                            <p>VMware虚拟化集群</p>
                            <p>ORACLE数据库</p>
                            <p>EMC、HP存储系统</p>
                            <p>万兆骨干网络</p>
                        </div>
                        <div class="text-box">
                            <h3>用户收获</h3>
                            <hr class="inline">
                            <br>
                            <p>存储双写免于系统崩溃带来的数据丢失和业务系统停顿</p>
                            <p>存储双活架构提高在线数据存储可靠性，避免因存储设备故障中断业务</p>
                            <p>降低存储设备成本</p>
                            <p>为业务系统提供保护和应急恢复功能</p>
                            <p>数据备份策略完整，保护长达三年</p>
                            <p>一体机式运维提高运维效率，降低人力成本</p>
                        </div>
                        <div class="text-box">
                            <h3>解决方案</h3>
                            <hr class="inline">
                            <br>
                            <p>现存系统平台庞大依赖关系复杂，设备更新速度慢于老化速度。系统运维工作量和技能要求远超出维护队伍承受力。最可行策略是增强系统平台架构可用性，并做好数据保护恢复措施，在此基础上强化运维系统。</p>
                            <br>
                            <p>一、通过存储双活技术形成原有存储设备之间和新旧存储之间的数据镜像关系，实现存储设备故障不影响系统运行。</p>
                            <br>
                            <p>二、在生产中心外，部署应急恢复系统，为业务应用（比如股份公司财务一体化平台系统）直接提供数据热保护和应急恢复服务，在生产中心发生各类机房内灾难时，可以快速恢复系统；甚至可以通过灾备中心的异地容灾设备实现业务接管，全面提高整体应用系统的业务连续运行能力。</p>
                            <br>
                            <p>三、基于一体机建设南药运维服务管理平台，采用标准化、自动化运维操作达到强化运维效率的目标。</p>
                        </div>
                        <div class="text-box">
                            <h4>存储数据双份，避免存储故障风险</h4>
                            <p>生产中心的数据在多个存储设备上保留双份，在一台存储设备故障的情况下，自动使用另一份数据保持生产，保障业务连续性。
                                这种保护可以在原有和新购，不同品牌的存储设备之间进行，不再购买高档存储设备，大大降低存储更新成本，同时提供了在线的系统架构级别的保护功能。</p>
                        </div>
                        <div class="text-box">
                            <h4>分钟级恢复，业务不中断</h4>
                            <p>用户之前采用的传统备份方式，一旦发生磁盘故障、数据库崩溃等意外，就会导致至少4小时的业务停机和多达24小时的数据丢失。如果备份未能正常执行则会造成丢失大量生产数据的后果。应急恢复系统采用先进的数据热保护和时间点快照技术，可以几分钟内恢复系统正常运行。</p>
                        </div>
                        <div class="text-box">
                            <h4>运维功能服务平台</h4>
                            <p>将自动化操作流程作为运维功能开放给特定用户，扩大适用操作人群，减少系统运维人员工作量。
                                系统崩溃之前没有做足预防是不能再坏的结局。业务系统之间、新旧数据之间均有关联关系，没有正确数据的业务系统即使运行也没有意义。有数据却没有应急恢复业务系统的能力，一样会造成长时间的业务停顿。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/case/case_10.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1>
                    <a href="../contact/contact-us.html">
                         <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
            <p>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>