<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection" />
    <title>南京轻机包装机械有限公司</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="">VDR-310 超融合设备</a>
                        <a href="">VDR-320 超融合容灾系统</a>
                        <a href="">VDR-410 应急恢复系统</a>
                        <a href="">VDR-510 存储高可用系统</a>
                        <a href="">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>南京轻机包装机械有限公司</h1>
                    <div class="article-info">
                        2016-10-10 11:16:00
                        <span class="amount">点击次数：1000次</span>
                    </div>
                    <div class="tab-content">
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/case/case_06.jpg" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <h3>项目简介</h3>
                            <hr class="inline">
                            <br>
                            <p>南京轻机包装机械有限公司是一个具有产品开发、科研设计、生产制造、经营销售、技术服务等多种功能的大型轻工业机械企业，国有大型企业，目前具有全国最大的啤酒、饮料灌装生产线，技术上处于国内领先地位并接近国际先进水平。市场占有率连续十年居国内同行业首位，产品远销亚洲、非洲、欧洲。</p>
                            <br><br>
                            <p>南京轻机包装机械有限公司（以下简称：南轻）起初采用SAN基础架构，将两台服务器集中外接在EMC高端存储中。随着数据量的不断增加，计算机系统的负载也越来越大，数据的重要性程度也日益提高，国内顶尖的生产技术数据，财务数据，项目数据，销售数据等，作为企业的核心数据，如何做到安全无误的正常运行，成为企业面临的一大挑战。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/case/case_07.jpg" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <p>2015年，因业务发展需要，搬到新厂区后，数据中心进行改造重建，南轻更加重视数据的安全可用性，因而将多台服务器通过光纤交换机连接在NEXSAN存储中，两台ECHOTN易通作为介质实现数据中心双活，使业务更加高效安全的运行。</p>
                        </div>
                        <div class="text-box">
                            <h3>用户需求</h3>
                            <hr class="inline">
                            <br>
                            <p>由于业务发展的需要，数据安全重要性越来越高，原厂区设备老化，不能满足生产系统对时间和可靠性的要求。搬到新厂区后，数据中心进行虚拟化改造重建，既要实现存储安全高可用性，又要保障故障后快速恢复业务生产，因此选择了易通做双活保护方式和备份应急保护方式。</p>
                        </div>
                        <div class="text-box">
                            <h3>解决方案</h3>
                            <hr class="inline">
                            <br>
                            <p>南轻经多方比较，选择了性价比高的ECHOTN易通服务平台为其做服务器系统的备份保护。将四台Esxi虚拟服务器通过光纤交换机连接在易通上，以易通作为介质，数据存放在两台存储中，存储中的数据通过实时同步镜像的模式，使数据中心实现双活，同时可以为每个存储设置定时快照的保护。另外，外接了一台易通做旁路保护，进行备份容灾，保障服务器或存储故障后快速恢复应急业务。在这套保护方案下，可以三分钟内对核心数据完成精准方便的容灾演练，整合了多种数据保护技术。既节约了人力物力成本，方便管理，使操作更简单便捷，又能实现存储的高可用，进而保障了企业信息系统的数据存储安全、IT信息系统不间断运行，以及故障后的高效快速恢复。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/case/case_08.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1>
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
