<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>西门子电站自动化有限公司</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="">VDR-310 超融合设备</a>
                        <a href="">VDR-320 超融合容灾系统</a>
                        <a href="">VDR-410 应急恢复系统</a>
                        <a href="">VDR-510 存储高可用系统</a>
                        <a href="">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="">公司简介</a>
                        <a href="">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>成功案例</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>西门子电站自动化有限公司</h1>
                    <div class="article-info">
                        2016-10-10 11:16:00
                        <span class="amount">点击次数：1000次</span>
                    </div>
                <div class="tab-content">
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                        <div class="text-box">
                            <h3>项目简介</h3>
                            <p>西门子电站自动化有限公司（SPPA）成立于1993年，是西门子能源领域在中国有关电厂自动化控制及优化管理的唯一的专业化公司。该公司致力于引进西门子德国的先进技术和控制策略，为国内电站提供整体解决方案以提高机组运行效率、经济性并保持长期稳定运行。</p>
                            <p>随着信息系统的广泛应用且依赖程度越来越高，计算机系统的负载也越来越大，系统中存储的数据也随之日益庞大且重要，显然，如何解决因人为误操作、系统硬件损坏、以及病毒传播、甚至系统崩溃等恶性事件造成企业信息系统的数据丢失、数据损坏、甚至业务中断，进而避免由此给SPPA造成的直接或间接的损失，已成为企业信息化建设部门所面临的最大挑战。</p>
                            <p>西门子南京数据中心从90年代开始，一直坚持数字化电厂的理念，不断改进其IT数据中心的保护方式。90年代，由一台服务器发展成多台服务器结合运行；2000年以后，随着业务和信息的不断发展，数据量的增大，数据中心引入SAN基础架构，将多台服务器通过光纤交换机，集中外接在EMC高端存储中；2010年代，服务器基础架构发展成VMWare虚拟化服务器，更好的整合了资源，通过一台外接服务器将数据备份以及利用磁带库对数据进行长期的归档。
                            </p>
                            <p>2015年，信息化的膨胀式发展，大数据强应用环境下，数据的保护需要更高的要求，数据的恢复利用也要在不影响企业数据正常运行的情况下更加便利、及时，西门子选择了易通，为其解决了多种问题，使其业务数据更高效安全运行。</p>
                        </div>
                        <div class="text-box">
                            <h3>用户需求</h3>
                            <p>由于公司的项目生产对于IT系统高可靠性的严格要求，项目上关键数据的丢失会很大程度上影响业务发展，也造成严重的经济损失。数据备份可以说是企业数据可用性的最后一道防线，但公司的备份当时还是采用外置磁带机进行冷备份。而由于电厂项目对时间和可靠性要求极高，而冷备份对于服务器系统和数据快速恢复的要求无法在发生系统崩溃时迅速满足。因此，公司迫切需要引入能够快速备份又能快速恢复备份的高可靠性的容灾系统，以满足公司项目业务的的实际要求。</p>
                        </div>
                        <div class="text-box">
                            <h3>解决方案</h3>
                            <p>SPPA经多方比较，选择了性价比高的ECHOTN易通系统为其做服务器系统的容灾保护。不仅实现了一键式自动发布虚拟机，进行备份容灾，多点镜像的细致保护，而且可以在十五分钟内完成精准方便的容灾演练，真正实现了在单一设备上整合多种数据保护技术。既节约了人力物力成本，方便管理，使操作更简单便捷，又可以长期归档保存，进而保障了企业信息系统的数据存储安全、IT信息系统不间断运行，以及故障后的高效快速恢复。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1><span class="icon icon-location"><img src="../../images/icon/contact-icon.png" alt=""></span>联系ECHOTN</h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
            <p>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>