<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>天顺迪诚：小众市场里的拓荒者</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../../view/contact/contact-us.html" class="menu-label">联系ECHOTN</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>新闻资讯</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>天顺迪诚：小众市场里的拓荒者</h1>
                    <!-- <div class="article-info">
                        2012-01-17 11:17:26
                        <span class="amount">点击次数：1000次</span>
                    </div> -->
                    <div class="tab-content">
                        <div class="text-box">
                            <p>王旭晖，最初看到这个人高马大的兄弟，你很难联想到他属老鼠。看似温和迟缓的他骨子里却是一股子敏捷果敢。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/news/news_list_13.png" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <p>学英文的他出了校门就在外贸公司做单证，因为嫌烦就自学计算机技术打算偷懒，想不到正儿八经搞起了计算机，还是高端的数据技术。同样是文科的我们鼓个掌先。</p>
                            <p>捣鼓了几年，他一手创办了南京天顺迪诚科技有限公司。这是一家集生产、研发、制造为一体的IT企业，坚持品质优先、卓越创新、高效便捷、诚信服务的原则，在行业内拥有17年的数据保护、业务应急恢复经验。2014年，自主研发了ECHOTN易通一体化融合设备。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/news/news_list_14.png" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <h3>易通属于小众市场的产品，为什么选择做易通这个产品？</h3>
                        </div>
                        <div class="text-box">
                            <p>王旭晖：公司从1999年成立到现在，做过小型机、高可用集群，虚拟化，容灾备份等设备，具有多年的行业经验。现在，中小型数据中心很多，但麻雀虽小，五脏俱全，需要的管理、技术一样不能少，而他们一般又没有精力对数据的存储、业务的正常流转提供必要的保护。所以我们针对这个市场研发了这个产品。</p>
                        </div>
                        <div class="text-box">
                            <p>第一，小众产品的门槛较高，没有多年的行业经验是很难做出这样的产品。第二，用户其实不希望深入掌握工具，他要的是设备正常运转，数据安全。我们把握用户这个心理，把规范化的操作流程内化到设备里，用户只要动动开关键就可以。第三，传统数据中心运维的人工成本较高。企业很难找到对应的工程师，因为这需要有多年经验的工程师来操作，且请一个工程师的成本在几十万上下。第四，传统用户购买的硬件功能远大于需求，大部分的投资都是浪费，设备都有3-5年的保修期，用户可能花费了100%的资金，最后却只使用了30%的功能。</p>
                        </div>
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/news/news_list_15.png" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <h3>为什么这款产品取名ECHOTN易通？</h3>
                        </div>
                        <div class="text-box">
                            <p>王旭晖：Echo在linux系统中是一条命令，tn是turn的缩写，turn表示输出的结果。Echotn易通结合echo+tn，意思是用户所需要实现的功能，易通能够满足，将复杂的功能，变得操作简单，达到易用通用的效果。</p>
                        </div>
                        <div class="text-box">
                            <h3>ECHOTN易通这款产品是从何时开始研发的？</h3>
                        </div>
                        <div class="text-box">
                            <p>王旭晖：我们从13年开始做自主研发，使用现有成熟技术，帮助客户实现标准化解决问题，可靠性高，故障率低。做易通这个产品是在14年上半年，我们的第一个客户是西门子，当时西门子遇到的问题是服务器数量较大，手工备份很耗时间，且不确定是否能够恢复。我们与西门子一直有长期的合作，相互信赖，所以根据他们的需求，为他们提供咨询服务，在多次的合作中，建立了相互信赖的合作关系。</p>
                        </div>
                        <div class="text-box">
                            <h3>研发这款产品中有遇到什么问题么？</h3>
                        </div>
                        <div class="text-box">
                            <p>王旭晖：以前的工作中，我们只需要对这些设备掌握使用方法，但在研发初期，我们需要对技术底层的东西有一个全面的掌握，包含设备的原理、机制等方面。我们的技术团队在北京，十几名专业技术人员，为了掌握这些技术，花费了许多时间精力，进行大量测试，从用户的真实需求出发，设计出他们所需要的产品。用户的需求不断在变化，易通的产品也不断在更新，我们从用户的使用环境、使用成本、可维护性等方面进行考虑，不断对易通产品进行升级。</p>
                        </div>
                        <div class="text-box">
                            <h3>ECHOTN易通这个产品有什么特点？</h3>
                        </div>
                        <div class="text-box">
                            <p>王旭晖：市场上有许多大型企业在做类似的产品，一般单个产品价格高，操作复杂，需要专门配备技术人员操作。对中小型数据中心来说，需要，但投入大，使用成本高。而小型企业初创企业也可以闯入这个市场，但他们没有专业的技术经验，想要做类似的产品不够专业。我们做易通这款产品，具有多年的经验累积，非常专业。</p>
                        </div>
                        <div class="text-box">
                            <p>中小型数据中心虽然体量小，他们也还是盯着大型数据中心的做法。所以我们做这个产品，实际是一种拓荒，培养一种新的技术行为习惯。易通的产品不需要配备专业技术人员。灵活度较大，可提供计算，存储，数据保护，容灾等多重服务，贴近实际，使用简单，投入小，使用成本低。</p>
                        </div>
                        <div class="text-box">
                            <p>说话间，王旭晖给我们烧水，泡起了功夫茶。他说：理工科的人注重解决问题，而我，比较重视用户体验。两种思维方式交叉，会拓展出全新的领域。在这个新领域里拓荒，而且是十几年沉心静气专注其中。茶道给了我很多启发。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1 class="relative">
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>
            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>
                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>
                    <div class="sq">
                        <a href="http://p.qiao.baidu.com/cps/chat?siteId=9687440&userId=21221391">
                            <span class="icon icon-location">
                                <img src="../../images/icon/mes.png" alt="">
                            </span>
                            销售资讯
                        </a>
                        <a href="../contact/contact-us.html">
                            <span class="icon icon-location">
                                <img src="../../images/icon/p.png" alt="">
                            </span>
                            售后咨询
                        </a>
                    </div>
                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
