<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>山东某银行ECHOTN</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="">公司简介</a>
                        <a href="">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>新闻资讯</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>山东某银行ECHOTN易通第三年扩容计划实施</h1>
                    <div class="article-info">
                        2016-10-10 11:16:00
                        <span class="amount">点击次数：1000次</span>
                    </div>
                    <div class="tab-content">
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                        <div class="text-box">
                            <p>该行是一家总部位于山东省潍坊市的区域性股份制商业银行，也是山东半岛地区成立的第四家城市商业银行，下辖13家区域客服中心、8家金融事业部，在潍坊区域设立52家支行，在青岛地区成立一家异地分行。</p>
                        </div>
                        <div class="text-box">
                            <p>2013年，该行将应用级灾备项目建设列入IT建设计划，并且灾备中心选择在了数十公里之外。</p>
                        </div>
                        <div class="text-box">
                            <p>ECHOTN®易通帮助其实现，在本地生产中心发生数据库崩溃、磁盘故障等机房内灾难时，用户可以快速从站点内的备份系统实现即时恢复；当发生重大站点级灾难时，用户则可以通过灾备中心的异地备用系统实现业务接管。从而全面提高整体应用系统的业务连续运行能力，形成多层次、完整的灾备保障体系。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/news/news_list_07.png" alt="">
                        </div>
                        <div class="text-box">
                            <p>2016年5月，为了适应各项业务的迅猛发展，保障核心业务系统更加安全、稳定、持续地运行，进一步增强抵御灾难和防范系统故障的能力。山东潍坊银行在ECHOTN易通保驾护航的第三年，实现易通扩容计划，选择在存储高可用的基础上扩容200TB，来满足业务发展，数据更高安全的需要，ECHOTN易通将继续更安全可靠的为其带来保障。</p>
                        </div>
                        <div class="text-box">
                            <h4>以下是ECHOTN易通满足金融行业用户数据灾备的需要：</h4>
                            <p>
                                1、 数据备份和复制随时进行,无备份窗口,也不影响应用运行<br>
                                2、生产磁盘发生故障时，保证业务不会中断<br>
                                3、数据丢失只需几分钟就可以恢复<br>
                                4、不少于900份可恢复的数据版本<br>
                                5、在20兆的低带宽下实现了100兆带宽才能达到的速度<br>
                                6、灵活有效的容灾演练机制<br>
                                7、实现强大的综合灾难恢复能力，投资回报率极高<br>
                            </p>
                        </div>
                        <div class="text-box">
                            <p>ECHOTN易通能够实现简单操作、易用通用、安全稳定，无后顾之忧的保障！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1>
                    <a href="">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>
            <div class="contact-con col">
                <h1 class="">
                    <a href="../contact/contact-us.html">
                        <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                        400-900-8028
                    </a>
                </h1>
                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>
                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
            <p>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>