<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>探访易通产品3C认证过程</title>
    <link rel="stylesheet" href="../../iconfont/style.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <h1 class="logo">
                <a href="../../index.html" title="">
                    <img src="../../images/common/header.png" alt="">
                </a>
            </h1>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box col">
                <h1>新闻资讯</h1>
            </div>
            <div class="news-con col">
                <div class="tab-pane">
                    <h1>探访易通产品3C认证过程</h1>
                    <div class="article-info">
                        2012-01-17 11:17:26
                        <span class="amount">点击次数：1000次</span>
                    </div>
                    <div class="tab-content">
                        <div class="text-box">
                            <p>电磁兼容检测中心需要经过EMC权威机构审定和质量体系认证，而且具有法定测试资格的综合性设计与测试检测中心才能依据电磁兼容标准做相关测试，并出具权威的检测报告。</p>
                            <p>它包括有进行传导干扰、传导敏感度及静电放电敏感度测试的屏蔽室，有进行辐射敏感度测试的消声屏蔽室，有用来进行辐射发射测试的开阔场地和配备齐全的测试与控制仪器设备。</p>
                            <p>ECHOTN易通即将进入检测中心。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                        <div class="text-box">
                            <p>ECHOTN易通需要经过多项检测，完成认证。</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                        <div class="text-box">
                            <p>这样一看是不是很有感觉呢？</p>
                        </div>
                        <div class="text-box">
                            <img src="../../images/news/news_list_06.png" alt="">
                        </div>
                        <div class="text-box">
                            <p>技术人员正在进行专业检测！</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-cloud"></span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-case"></span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <li class="label-act">
                <a href="">
                    <div class="ico">
                        <span class="icon icon-download"></span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <li class="label-act">
                <a href="../new/news.html">
                    <div class="ico">
                        <span class="icon icon-new"></span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we"></span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>
        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1><span class="icon icon-location"></span>联系ECHOTN</h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"></span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer -->
<div class="footer flex" id="footer">
    <div class="copyright">
        <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
        <p>苏ICP备05037190号</p>
    </div>
</div>
</body>
</html>