<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection" />
    <title>新闻资讯</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script type="text/javascript" src="../../js/page.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>新闻资讯</h1>
            </div>
            <div class="news-con content-wrap col">
                <ul class="news-card" id="news-card"></ul>

                <!-- pages -->
                <div id="page" class="page"></div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="../cloud/cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1 class="relative">
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>
            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel"><img src="../../images/icon/tel-icon.png" alt=""></span>
                    400-900-8028
                </h1>
                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>
    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
<script type="text/javascript">
    var datas = [{
        href: "news-sd.html",
        src: ".././../images/news/news_list_01.png",
        name: "山东某银行ECHOTN易通第三年扩容计划实施",
        time: "2016-10-10 11:16:00",
        desc: "该行是一家总部位于山东省潍坊市的区域性股份制商业银行，也是山东半岛地区成立的第四家城市商业银行，下辖13家区域客服中心、8家金融事业部，在潍坊区域设立52家支行，在青岛地区成立一家异地分..."
    }, {
        href: "news-nj-medicine.html",
        src: ".././../images/news/news_list_02.png",
        corner: "制造业",
        name: "ECHOTN易通在南京医药恢复演练系统中顺利启用oracle rac数据",
        time: "2016-10-10 11:16:00",
        desc: "2016年3月30日，ECHOTN技术团队到南京医药股份有限公司实施了恢复演练测试，模拟信息中心机房在故障的情况下，ECHOTN易通如何实现应急业务快速恢复，正常运转。经过交流分析搭建环境..."
    }, {
        href: "news-cloud-services.html",
        src: ".././../images/news/news_list_03.png",
        corner: "金融业",
        name: "ECHOTN云服务产品推广招待会成功举办",
        time: "2016-10-10 11:16:00",
        desc: "2015年12月26日，ECHOTN云服务产品推广招待会在南京汤山颐尚温泉酒店顺利举办。多用途云服务产品易通ＥＣＨＯＴＮ主要用于IT部门系统管理和向业务部门用户提供运维服务。能够根据用户的不..."
    }, {
        href: "news-visit.html",
        src: ".././../images/news/news_list_04.png",
        corner: "制造业",
        name: "探访易通产品3C认证过程",
        time: "2016-10-10 11:16:00",
        desc: "电磁兼容检测中心需要经过EMC权威机构审定和质量体系认证，而且具有法定测试资格的综合性设计与测试检测中心才能依据电磁兼容标准做相关测试，并出具权威的检测报告。"
    }, {
        href: "news-niche-market.html",
        src: ".././../images/news/news_list_05.png",
        corner: "医疗业",
        name: "天顺迪诚：小众市场里的拓荒者",
        time: "2016-10-10 11:16:00",
        desc: "王旭晖，最初看到这个人高马大的兄弟，你很难联想到他属老鼠。看似温和迟缓的他骨子里却是一股子敏捷果敢。学英文的他出了校门就在外贸公司做单证，因为嫌烦就自学计算机技术打算偷懒，想不到正..."
    }];
    var options = {
        "id": "page", //显示页码的元素
        "data": datas, //显示数据
        "maxshowpageitem": 3, //最多显示的页码个数
        "pagelistcount": 5, //每页显示数据个数
        "callBack": function(result) {
            var cHtml = "";
            for (var i = 0; i < result.length; i++) {
                cHtml += '<li class="news-card-items"><a href="' + result[i].href + '" class="pic-box"><img src="' + result[i].src + '"></a><div class="pic-info col"><div class="pic-top"><a href="' + result[i].href + '">' + result[i].name + '</a><div class="timer">' + result[i].time + '</div></div><div class="pic-text"><a href="' + result[i].href + '" class="pic-desc">' + result[i].desc + '</a></div></div></li>'; //处理数据
            }
            $("#news-card").html(cHtml); //将数据增加到页面中
        }
    };
    page.init(datas.length, 1, options);
</script>
</body>
</html>
