<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection" />
    <title>储存高可用</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>云产品</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>储存高可用</h1>
                    <div class="tab-content">
                        <div class="text-box">
                            <img src="../../images/case/case_16.png" alt="">
                        </div>
                        <div class="text-box">
                            <h2>产品功能</h2>
                            <hr class="inline">
                            <br>
                            <h3>存储管理</h3>
                            <p>服务器经过2台ECHOTN存储高可用设备双链路读写各个存储，数据以镜像模式，同时写入两台存储中，实现数据实时同步，双活双写。任一存储或设备故障均不影响业务系统，保障业务持续不间断运行。</p>
                        </div>
                        <div class="text-box">
                            <h3>数据保护</h3>
                            <p>两台存储中数据以快照形式做备份，数据故障后，一键恢复到正常状态，多重保障存储安全。</p>
                        </div>
                        <div class="text-box">
                            <h3>虚拟化</h3>
                            <p>存储虚拟化，灵活管理和调用虚拟资源。</p>
                        </div>
                        <div class="text-box">
                            <h2>产品特点</h2>
                            <hr class="inline">
                            <br>
                            <ul>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_11.png" alt="">
                                    <div class="info">
                                        <span>保障业务连续性</span>
                                        <p>实时数据保护，保障业务的连续性。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_05.png" alt="">
                                    <div class="info">
                                        <span>兼容性好</span>
                                        <p>兼容管理多种品牌存储设备。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_12.png" alt="">
                                    <div class="info">
                                        <span>高可用性</span>
                                        <p>添加和减少存储设备不影响数据使用。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_13.png" alt="">
                                    <div class="info">
                                        <span>可配套部署</span>
                                        <p>可以与应急、容灾系统配套使用。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-box">
                            <h2>适用用户</h2>
                            <hr class="inline">
                            <br>
                            <p>企业级数据中心</p>
                        </div>
                        <div class="text-box">
                            <h2>方案图</h2>
                            <img src="../../images/case/case_15.png" alt="">
                        </div>
                        <div class="text-box">
                            <h2>技术与服务参数</h2>
                            <hr class="inline">
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>产品编号</th>
                                        <th colspan="2">VDR-320</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">部署方式</td>
                                        <td>成对布署</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="9">功能配置</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">桌面功能</td>
                                        <td>用户管理，虚拟机&#47;桌面管理，恢复管理</td>
                                    </tr>
                                    <tr>
                                        <td>自助式布署16个虚拟机或20个虚拟桌面</td>
                                    </tr>
                                    <tr>
                                        <td>数据容量</td>
                                        <td>数据高可用管理&#47;1TB许可</td>
                                    </tr>
                                    <tr>
                                        <td>磁盘部署</td>
                                        <td>NL&#47;SAS&#47;SSD分级存储布署</td>
                                    </tr>
                                    <tr>
                                        <td>网络通道</td>
                                        <td>FC&#47;ISCSI网络块级存储布署</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">数据保护方式</td>
                                        <td>在线数据保护(实时镜像)</td>
                                    </tr>
                                    <tr>
                                        <td>在线数据保护（快照、双写）</td>
                                    </tr>
                                    <tr>
                                        <td>运维方式</td>
                                        <td>互联网远程运维</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" colspan="2">硬件标配</td>
                                        <td>2U机箱&#47;冗余电源&#47;8个热插拔存储槽位&#47;</td>
                                    </tr>
                                    <tr>
                                        <td>双路XEON E5处理器&#47;128GB内存（最大 </td>
                                    </tr>
                                    <tr>
                                        <td>支持扩展1TB）&#47;双FC&#47;ip</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">适用用户</td>
                                        <td>SMB(中小型用户数据中心)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1>
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <a href="">
                        <span class="icon-tel">
                            <img src="../../images/icon/tel-icon.png" alt="">
                        </span>
                        400-900-8028
                    </a>
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <img src="../../images/common/bigma.png" alt="">
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 1017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
