<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="telephone=no" name="format-detection" />
    <title>超融合设备.</title>
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../../css/news/news.css">
    <link rel="stylesheet" href="../../css/cloud/cloud.css">
    <script src="../../js/flexible.debug.js"></script>
    <script src="../../libs/Jquery/jquery-1.12.1.min.js"></script>
    <script src="../../js/common.js"></script>
</head>
<style type="text/css">
    .tab-content .text-box h2 {
        font-size: 0.4rem;
        color: #333;
        margin-bottom: 0.48rem;
        font-weight: bold;
    }
</style>
<body>
<div class="wrapper" id="wrapper">
    <!-- header -->
    <div class="header" id="header">
        <div class="header-container">
            <a class="logo" href="../../index.html" title="">
                <img src="../../images/icon/logo.png" alt="">
            </a>
            <div class="nav-toggle event-menu-toogle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="sidebar-menu" id="sidebar-menu">
            <a href="#" class="close-menu event-close-menu"></a>
            <ul class="menu-list">
                <li class="menu-items current">
                    <a href="../../index.html" class="menu-label">首页</a>
                </li>
                <li class="menu-items has-children">
                    <a href="" class="menu-label">云产品</a>
                    <div class="dropdown">
                        <a href="../cloud/超融合设备.html">VDR-310 超融合设备</a>
                        <a href="../cloud/超融合容灾系统.html">VDR-320 超融合容灾系统</a>
                        <a href="../cloud/应急恢复系统.html">VDR-410 应急恢复系统</a>
                        <a href="../cloud/储存高可用.html">VDR-510 存储高可用系统</a>
                        <a href="../cloud/异地容灾设备.html">VDR-T10 异地容灾设备</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../case/success-case.html" class="menu-label">成功案例</a>
                </li>
                <li class="menu-items">
                    <a href="../download/download.html" class="menu-label">在线下载</a>
                </li>
                <li class="menu-items">
                    <a href="../new/news.html" class="menu-label">新闻资讯</a>
                </li>
                <li class="menu-items has-children">
                    <a href="../About/about_us.html" class="menu-label">关于我们</a>
                    <div class="dropdown">
                        <a href="../About/about_us.html">公司简介</a>
                        <a href="../About/about_us.html">企业文化</a>
                    </div>
                </li>
                <li class="menu-items">
                    <a href="../../view/contact/contact-us.html" class="menu-label">联系ECHOTN</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="content" id="content">
        <div class="container news-container">
            <div class="head-box top-head col">
                <h1>云产品</h1>
            </div>
            <div class="news-con content-wrap col">
                <div class="tab-pane">
                    <h1>超融合设备</h1>
                    <div class="tab-content">
                        <div class="text-box">
                            <a href="" title="">
                                <img src="../../images/case/case_14.jpg" alt="">
                            </a>
                        </div>
                        <div class="text-box">
                            <h2>
                                <span class="block"><img src=".././../images/icon/square.png" alt=""></span>
                                <span style="font-size: 0.4rem;color: #333;">产品功能</span>
                            </h2>
                            <hr class="inline">
                            <br>
                            <h3>异机复制</h3>
                            <p>异机复制 基于一台超融合设备的基础上，为实现更高级别保护功能，外接1台超融合设备，将两台设备中数据相互复制，其中任何一台设备出现故障，另一台设备都能快速投入生产，克服单点故障，防止灾难性破坏，保障信息系统不间断运行。</p>
                        </div>
                        <div class="text-box">
                            <h3>整合IT架构</h3>
                            <p>计算、存储、网络、数据保护融合一体，实现虚拟化，既可以代替存储，又可以作为虚拟服务器使用，单一设备整合多种功能。</p>
                        </div>
                        <div class="text-box">
                            <h3>数据保护</h3>
                            <p>保护存储数据，通过数据双写，数据实时同步复制，系统实现全HA；定时快照，为数据做备份，系统出现故障后，一键恢复到正常状态，保障企业信息系统安全高效运行。</p>
                        </div>
                        <div class="text-box">
                            <h3>一键发布云桌面</h3>
                            <p>用户在管理界面注册账号，二级管理员审批注册申请，分配部门、角色、功能。超融合设备一键发布应用虚拟机，用户自助申请云桌面，通过web界面浏览和使用设备资源，操作更安全，同时进行日志记录和短信通知。</p>
                        </div>
                        <div class="text-box">
                            <h2 style="font-size: 0.4rem"><span class="block"><img src=".././../images/icon/square.png" alt=""></span><span style="font-size: 0.4rem;color: #333;">产品特点</span></h2>
                            <hr class="inline">
                            <br>
                            <ul>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_01.png" alt="">
                                    <div class="info">
                                        <span>高性价比</span>
                                        <p>保障信息系统安全高效运行，降低采购成本。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_10.png" alt="">
                                    <div class="info">
                                        <span>灵活性</span>
                                        <p>小规模软硬件一体设备。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_02.png" alt="">
                                    <div class="info">
                                        <span>自动化</span>
                                        <p>一键生成，操作简单，无需专业运维，节省人力物力，降低运维成本。</p>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_03.png" alt="">
                                    <div class="info">
                                        <span>易管理</span>
                                        <p>方便人员管理，高效办公。</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-box">
                            <h2 style="font-size: 0.4rem"><span class="block"><img src=".././../images/icon/square.png" alt=""></span><span style="font-size: 0.4rem;color: #333;">适用用户</span></h2>
                            <hr class="inline">
                            <br>
                            <h4>企业级数据中心</h4>
                        </div>
                        <div class="text-box">
                            <h2 style="font-size: 0.4rem"><span class="block"><img src=".././../images/icon/square.png" alt=""></span><span style="font-size: 0.4rem;color: #333;">典型应用</span></h2>
                            <hr class="inline">
                            <br>
                            <ul class="level">
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_04.png" alt="">
                                    <div class="info">
                                        <span>基本存储</span>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_05.png" alt="">
                                    <div class="info">
                                        <span>虚拟桌面</span>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_06.png" alt="">
                                    <div class="info">
                                        <span>远程办公  </span>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_07.png" alt="">
                                    <div class="info">
                                        <span>灾备中心</span>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_08.png" alt="">
                                    <div class="info">
                                        <span>研发中心</span>
                                    </div>
                                </li>
                                <li class="cloud-items">
                                    <img src="../../images/icon/cloud_icon_09.png" alt="">
                                    <div class="info">
                                        <span>虚拟服务器</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="text-box">
                            <h2 style="font-size: 0.4rem"><span class="block"><img src=".././../images/icon/square.png" alt=""></span><span style="font-size: 0.4rem;color: #333;">方案图</span></h2>
                            <hr class="inline">
                            <img src="../../images/case/case_15.png" alt="">
                        </div>
                        <div class="text-box">
                            <h2 style="font-size: 0.4rem"><span class="block"><img src=".././../images/icon/square.png" alt=""></span><span style="font-size: 0.4rem;color: #333;">技术与服务参数</span></h2>
                            <hr class="inline">
                            <br>
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>产品编号</th>
                                        <th colspan="2">VDR-320</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td colspan="2">部署方式</td>
                                        <td>成对布署</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="9">功能配置</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">桌面功能</td>
                                        <td>用户管理，虚拟机/桌面管理，恢复管理</td>
                                    </tr>
                                    <tr>
                                        <td>自助式布署16个虚拟机或20个虚拟桌面</td>
                                    </tr>
                                    <tr>
                                        <td>数据容量</td>
                                        <td>数据高可用管理/1TB许可</td>
                                    </tr>
                                    <tr>
                                        <td>磁盘部署</td>
                                        <td>NL/SAS/SSD分级存储布署</td>
                                    </tr>
                                    <tr>
                                        <td>网络通道</td>
                                        <td>FC/ISCSI网络块级存储布署</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="2">数据保护方式</td>
                                        <td>在线数据保护(实时镜像)</td>
                                    </tr>
                                    <tr>
                                        <td>在线数据保护（快照、双写）</td>
                                    </tr>
                                    <tr>
                                        <td>运维方式</td>
                                        <td>互联网远程运维</td>
                                    </tr>
                                    <tr>
                                        <td rowspan="3" colspan="2">硬件标配</td>
                                        <td>2U机箱/冗余电源/8个热插拔存储槽位/</td>
                                    </tr>
                                    <tr>
                                        <td>双路XEON E5处理器/128GB内存（最大 </td>
                                    </tr>
                                    <tr>
                                        <td>支持扩展1TB）/双FC/ip</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">适用用户</td>
                                        <td>SMB(中小型用户数据中心)</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- enter -->
        <ul class="core-entry col">
            <!--云产品-->
            <li class="label-act">
                <a href="cloud.html">
                    <div class="ico">
                        <span class="icon icon-cloud">
							<img src="../../images/icon/icon-cloud.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">云产品</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--成功案例-->
            <li class="label-act">
                <a href="../case/success-case.html">
                    <div class="ico">
                        <span class="icon icon-case">
							<img src="../../images/icon/case-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">成功案例</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--在线下载-->
            <li class="label-act">
                <a href="../download/download.html">
                    <div class="ico">
                        <span class="icon icon-download">
							<img src="../../images/icon/download.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">在线下载</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--新闻资讯-->
            <li class="label-act">
                <a href="../../view/new/news.html">
                    <div class="ico">
                        <span class="icon icon-new">
							<img src="../../images/icon/new-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">新闻资讯</div>
                    <div class="arrow-right">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
            <!--关于我们-->
            <li class="label-act">
                <a href="../../view/About/about_us.html">
                    <div class="ico">
                        <span class="icon icon-we">
							<img src="../../images/icon/about-us-icon.png" alt="">
						</span>
                    </div>
                    <div class="enter-title">关于我们</div>
                    <div class="arrow-right arrow-box">
                        <span class="icon-arrow-right arrow-right"></span>
                    </div>
                </a>
            </li>
        </ul>

        <!-- 联系我们 -->
        <div class="contact">
            <div class="head-box col">
                <h1 class="relative">
                    <a href="../contact/contact-us.html">
                        <span class="icon icon-location">
                            <img src="../../images/icon/contact-icon.png" alt="">
                        </span>联系ECHOTN
                    </a>
                </h1>
            </div>

            <div class="contact-con col">
                <h1 class="">
                    <span class="icon-tel">
                        <img src="../../images/icon/tel-icon.png" alt="">
                    </span>
                    400-900-8028
                </h1>

                <div class="contact-info">
                    <p>邮箱：market@echotn.com</p>
                    <p>地址：江苏省南京市秦淮区龙蟠中路368号</p>
                    <p>研发中心：北京市海淀区信息路甲28号</p>

                    <figure>
                        <a href="" title="">
                            <img src="../../images/common/bigma.png" alt="">
                        </a>
                        <p>微信平台：数据狮</p>
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <div class="footer flex" id="footer">
        <div class="copyright">
            <p>2010 - 2017 南京天顺迪诚科技有限公司版权所有</p>
            <p><i class="badgel"></i>苏ICP备05037190号</p>
        </div>
    </div>

    <!-- mask -->
    <div class="mask" id="mask"></div>
</div>
</body>
</html>
