@charset "utf-8";
/* CSS Document */
html {
    -webkit-tap-highlight-color: transparent;
}
@font-face {
    font-family: PingFang Regular;
    src: url("../fonts/PingFang Regular_2.ttf");
}
@font-face {
    font-family: PingFang Medium;
    src: url("../fonts/PingFang Medium_2.ttf");
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, tr, th, td {
    margin: 0;
    padding: 0;
}
body {
    color: #333;
    line-height: 1;
    font-family: PingFang Medium;
    background: #f5f5f5;
}
/* H5 */
header, section, footer, aside, nav, main, article, figure {
    display: block;
}
td, th, caption {
    font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
img {
    display: block;
    width: 100%;
    border: none;
}

ol, ul, li {
    list-style: none;
}

input, textarea, select, button {
    font: 14px Microsoft Yahei;
}

table {
    border-collapse: collapse;
}

em, i {
    font-style: normal;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* 清浮动 */
.clearFix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearFix {
    clear: both;
    overflow: hidden;
    *zoom: 1;
}
.overflow-hidden {
    overflow: hidden !important;
    height: 100% !important;
}
.inline {
    border: 1px dashed #d6d6d6;
    margin: 0;
}
.col {
    display: block;
    padding-left: 0.32rem;
    padding-right: 0.32rem;
}
.table {
  width: 100%;
  color: #313131;
  font-size: 0.1867rem;
  margin-bottom: 20px;
}
.table-bordered>thead>tr>th {
    border: 1px solid #ddd;
}
.table-bordered td {
    text-align: left;
    text-indent: 0.44rem;
    border: 1px solid #ddd;
}

/*垂直居中样式*/
.flex {
    display: -webkit-box;    /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
    display: -moz-box;       /* 老版本语法: Firefox (buggy)  */
    display: -ms-flexbox;    /* 混合版本语法: IE 10 */
    display: -webkit-flex;   /* 新版本语法： Chrome 21+ */
    display: flex;           /* 新版本语法： Opera 12.1, Firefox 22+ */

    -webkit-flex-flow: row nowrap;
       -moz-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
         -o-flex-flow: row nowrap;
            flex-flow: row nowrap;

    /*水平居中*/ /*老版本语法*/
    -webkit-box-pack: center;
       -moz-box-pack: center; /*混合版本语法*/
       -ms-flex-pack: center; /*新版本语法*/
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
     -khtml-justify-content: center;
            justify-content: center;

    /*垂直居中*/	/*老版本语法*/
    -webkit-box-align: center;
       -moz-box-align: center; /*混合版本语法*/
    -webkit-align-items: center; /*新版本语法*/
       -moz-align-items: center;
        -ms-align-items: center;
         -o-align-items: center;
     -khtml-align-items: center;
            align-items: center;
}
.flex-1 {
    -webkit-box-flex: 1;
       -moz-box-flex: 1;
        -ms-box-flex: 1;
         -o-box-flex: 1;
            box-flex: 1;
    -webkit-flex: 1;
       -moz-flex: 1;
        -ms-flex: 1;
         -o-flex: 1;
     -khtml-flex: 1;
            flex: 1;
}
/*header*/
.header {
    width: 100%;
}
.header-container {
    position: relative;
    height: 1.3067rem;
    background: #fff;
}
.logo {
    display: block;
    position: absolute;
    top: 0.3467rem;
    left: 0.32rem;
    width: 4.267rem;
}
.nav-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.3067rem;
    height: 1.3067rem;
    border-left: 1px solid #e5e5e5;
    cursor: pointer;
}
.nav-toggle span {
    position: absolute;
    left: 0.4rem;
    display: block;
    width: 0.56rem;
    height: 0.0533rem;
    background: #999999;
}
.nav-toggle span:first-child {
    top: 0.44rem;
}
.nav-toggle span:nth-child(2) {
    top: 0.63rem;
}
.nav-toggle span:last-child {
    bottom: 0.44rem;
}
/*sidebar-menu*/
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    visibility: hidden;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    -ms-opacity: 0;
    -o-opacity: 0;
    opacity: 0;
    -webkit-transition: all .50s;
         -o-transition: all .50s;
            transition: all .50s;
}
.mask.menu-open {
    -webkit-z-index: 5;
    -moz-z-index: 5;
    -ms-z-index: 5;
    -o-z-index: 5;
    -khtml-z-index: 5;
    z-index: 5;
    -webkit-opacity: 1;
       -moz-opacity: 1;
        -ms-opacity: 1;
         -o-opacity: 1;
            opacity: 1;
    visibility: visible;
}
.sidebar-menu {
    -webkit-z-index: 9;
    -moz-z-index: 9;
    -ms-z-index: 9;
    -o-z-index: 9;
    -khtml-z-index: 9;
    z-index: 9;
    position: fixed;
    left: 100%;
    top: 0;
    bottom: 0;
    /*right: 0;*/
    height: 100%;
    width: 8rem;
    background: rgba(51, 51, 51, .95);
    /*-webkit-transform: translateX(8rem);*/
       /*-moz-transform: translateX(8rem);*/
        /*-ms-transform: translateX(8rem);*/
         /*-o-transform: translateX(8rem);*/
            /*transform: translateX(8rem);*/
    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
}
.sidebar-menu.menu-open {
    visibility: visible;
    left: 2rem;
    /*-webkit-transform: translateX(0px);*/
        /*-ms-transform: translateX(0px);*/
         /*-o-transform: translateX(0px);*/
            /*transform: translateX(0px);*/
}
.close-menu {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    height: 1.2rem;
    width: 1.2rem;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    color: transparent;
}
.close-menu:after, .close-menu:before {
    /* this is the 'X' icon */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: 0.6rem;
    width: 2px;
    background-color: #fff;
}
.close-menu:after {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
}
.close-menu:before {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -o-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}
.menu-list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}
.menu-label {
    position: relative;
    display: block;
    color: #fff;
    font-size: 0.4rem;
    padding: 0 0.5067rem;
    height: 1.2rem;
    line-height: 1.2rem;
}
.has-children .menu-label.is-active {
    background: #333;
}
.has-children .menu-label:before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0.72rem;
    margin-top: -0.08rem;
    border: none;
    border-left: 0.16rem solid transparent;
    border-right: 0.16rem solid transparent;
    border-top: 0.16rem solid;
    width: 0;
    height: 0;
    display: inline-block;
    zoom: 1;
    vertical-align: middle;
    margin-left: 3px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}
.has-children .menu-label.is-active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.menu-items .dropdown {
    display: none;
    width: 100%;
    height: auto;
}
.menu-items .dropdown a {
    display: block;
    color: #ccc;
    font-size: 0.3467rem;
    padding: 0 0.5067rem;
    height: 1.2rem;
    line-height: 1.2rem;
    background: #333;
    border-bottom: 1px solid #4c4c4c;
}
.menu-items .dropdown a:last-child {
    border-bottom: none;
}
.menu-items.current .menu-label {
    color: #35bd22;
    background: #333;
    border-bottom: 1px solid #1a1a1a;
}
/*layout*/
.wrapper {
    position: relative;
    // width: 10rem;
    margin: 0 auto;
}
.successful-case, .news-block, .core-entry, .contact, .content-wrap {
    margin-top: .24rem;
    background: #fff;
}
/*head-box*/
.head-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -moz-box-align: center; /*混合版本语法*/
    -ms-flex-align: center; /*新版本语法*/
    -webkit-align-items: center;
    align-items: center;
    height: 1.08rem;
    background: #fff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid #e6e6e6;
}
.head-box h1 {
    position: relative;
    color: #333;
    font-size: 0.4267rem;
    padding-top: 0.018rem;
    font-weight: bold;
    font-family: PingFang Medium;
}
.relative {
    position: relative;
    padding-left: 0.7rem;
}
.relative span.icon {
    position: absolute;
    top: 50%;
    left: 0;
    transform:translate3d(0,-50%,0);
    -webkit-transform:translate3d(0,-50%,0);
}
.top-head {
    height: 1.1733rem;
    background: -webkit-linear-gradient(#d1dfcf, #fff);
       background: -moz-linear-gradient(#d1dfcf, #fff);
         background: -o-linear-gradient(#d1dfcf, #fff);
            background: linear-gradient(#d1dfcf, #fff);
}
.top-head h1 {
    font-size: .4rem;
}
/*core-entry*/
.core-entry .label-act {
    height: 1.2rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-bottom: 1px solid #e6e6e6;
}
.core-entry .label-act:last-child {
    border-bottom: none;
}
.core-entry a {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}
.core-entry a>div {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
}
.ico {
    position: relative;
    width: 0.7467rem;
}
.ico span {
    position: absolute;
    top: 50%;
    left: 0;
    transform:translate3d(0,-50%,0);
    -webkit-transform:translate3d(0,-50%,0);
}
.enter-title {
    color: #333;
    font-size: 0.3733rem;
    text-align: left;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
}
.arrow-right {
    position: relative;
    color: #ccc;
}
.icon-arrow-right {
    position: absolute;
    top: 50%;
    right: 0.24rem;
    width: 0.24rem;
    height: 0.24rem;
    border-style: solid;
    border-width: 1px 1px 0 0;
    border-color: #cccccc;
    -webkit-transform-origin: 75% 25%;
    -webkit-transform: rotateZ(45deg);
    -webkit-transition: 100ms ease-in .1s;
    transition: 100ms ease-in .1s;
}
.icon {
    width: 0.56rem;
    display: inline-block;
    // vertical-align: middle;
    // margin-right: .32rem;
}
/*// .icon-we,.icon-network {*/
/*//     width: 0.48rem;*/
/*//     margin-right: 0.2667rem;*/
/*// }*/
/*联系*/
.contact .contact-con {
    padding-bottom: .6rem;
}
.contact .contact-con h1 {
    color: #35bd22;
    font-size: 0.9067rem;
    padding: 0.94rem 0;
    font-weight: bold;
}
.contact .contact-con h1 .icon-tel {
    display: inline-block;
    width: 0.8533rem;
    vertical-align: top;
}
.contact-info p {
    color: #333;
    font-size: 0.4rem;
    line-height: 0.6933rem;
}
.contact-info figure {
    width: 4.32rem;
    margin: 0.8rem 0 0 0;
}
.contact-info figure p {
    font-size: 0.4rem;
    margin-top: .4rem;
}
/*关于我们*/
.nav-tabs {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.nav-tabs li {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    box-flex: 1;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -khtml-flex: 1;
    flex: 1;
    height: 1.0133rem;
    color: #999;
    font-size: 0.3733rem;
    border-bottom: 1px solid #e6e6e6;
}
.nav-tabs li.is-active {
    color: #333;
    background: #fafafa;
    border-bottom: 1px solid #35bd22;
}
.tab-content .qualif-box a {
    display: inline-block;
    width: 31%;
    margin-right: 1%;
}
.tab-content .qualif-box a img {
    display: block;
    width: 100%;
}
/*云产品*/
.cloud-con {
    margin-top: 0.24rem;
}
.text-box .cloud-items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-justify-content: center;
       -moz-justify-content: center;
        -ms-justify-content: center;
         -o-justify-content: center;
            justify-content: center;
    -webkit-box-align: center;
       -moz-box-align: center; /*混合版本语法*/
       -ms-flex-align: center; /*新版本语法*/
    -webkit-align-items: center;
            align-items: center;
    position: relative;
    margin-bottom: 0.64rem;
}
.text-box .cloud-items img {
    display: block;
    width: 1.1rem;
    margin-right: 0.3333rem;
}
.text-box .cloud-items .info {
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    flex: 1;
}
.text-box .cloud-items .info span {
    display: block;
    color: #313131;
    font-size: 0.32rem;
    font-weight: bold;
    line-height: 0.56rem;
}
.text-box .cloud-items .info p {
    color: #666;
    font-size: 0.32rem;
    line-height: 0.4rem;
}
.level {
    clear: both;
    overflow: hidden;
}
.level .cloud-items {
    width: 33%;
    float: left;
}
.level .cloud-items img {
    margin-right: 0.1867rem;
}
.level .cloud-items span {
    font-size: 0.32rem;
}
.text-box .table {
    border-radius: 6px;
}
.text-box .table-bordered>thead>tr>th {
    height: 0.64rem;
    color: #fff;
    background: #1c92d0;
}
.text-box .table-bordered td {
    height: 0.4rem;
}
.text-box .tab-content .text-box h2:before {
    display: inline-block;
    content: "";
    width: 0.32rem;
    height: 0.32rem;
    background: #35bd22;
    margin-right: 0.2rem;
}
.text-box .tab-pane h1 {
    margin-bottom: 0.4rem;
}
/*footer*/
.footer {
    width: 100%;
    height: 1.2667rem;
    text-align: center;
    background: #333;
}
.footer .copyright p {
    font-size: 0.2667rem;
    color: #fff;
    line-height: 0.4533rem;
}
.badgel {
    display: inline-block;
    width: 0.2933rem;
    height: 0.32rem;
    background: url("../images/icon/badgel.png") no-repeat center center;
    -webkit-background-size: 100%;
    background-size: 100%;
    margin-right: 0.12rem;
    margin-top: -0.05rem;
    vertical-align: middle;
}
